{% extends 'base_login_signup.html' %}

{% block title %} Login {% endblock title %}
{% block container_name %} Login {% endblock container_name %}

{% block content %}
    <div class="form__group">
        <i class="ri-user-line form__icon"></i>
        <input type="text" placeholder="Name" required class="form__input" />
        <span class="form__bar"></span>
    </div>
    <div class="form__group">
        <i class="ri-lock-line form__icon"></i>
        <input
            type="password"
            placeholder="Password"
            required
            class="form__input"
        />
        <span class="form__bar"></span>
    </div>
    <button type="submit" class="form__button">Login</button>
    <p class="form__switch">
        Don't have an account? <a href="{% url 'cooking:sign_up' %}">Sign up</a>
    </p>
{% endblock content %}