{% extends 'user/base.html' %}

{% block content %}
    <div class="form__group">
        <i class="ri-user-line form__icon"></i>
        {{ form.username }}
        <span class="form__bar"></span>
    </div>
    <div class="form__group">
        <i class="ri-lock-line form__icon"></i>
        {{ form.password }}
        <span class="form__bar"></span>
    </div>
    <input type="submit" class="form__button" value="Login"/>
    {% if field.errors %}
        <small>{{ field.errors|striptags }}</small>
    {% endif %}
    <p class="form__switch">
        Don't have an account? <a href="{% url 'user:sign_up' %}">Sign up</a>
    </p>
{% endblock content %}